body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-primary: rgb(42, 42, 42);
  --bg-focus: #3a404b;
  --text-primary: white;
  --theme-fill-dark: rgb(209, 120, 209);
  --theme-fill-light: var(--text-primary);
  --light-opacity: 0.5;
  --dark-opacity: 1;
  --transition-speed: 600ms;
  --title-size: 30px;
}

[data-theme='light'] {
  --text-primary: white;
  --bg-primary: #5a606e;
  --bg-focus: #8d96ac;
  --theme-fill-dark: var(--text-primary);
  --theme-fill-light: rgb(253, 202, 140);
  --light-opacity: 1;
  --dark-opacity: 0.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

